.header-logo{
  width:  100px;
  height:   165px;
}
.header-nav{
  float:  left;
}
 ul li{
  display:  inline;
  padding:  10px  10px  5px  10px;
}
a{
  color: #b0b0b0;
  line-height:  40px;
  display: inline-block;
  cursor: pointer；
}
a{
  text-decoration: none;
}
ul{
  background-color:  grey;
  margin: 10px 10px 0px 10px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}
.tou{
  background-color: #b0b0b0;
}